<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Processing Your Video.</title>
  <link rel="stylesheet" href="static/assets/css/style_loader.css">
</head>
<body>
<div class="page-loader">
	<div class="spinner"></div>
	<div class="txt">Please Wait !!!<br>While we are Processing your Video</div>
</div>
<div class="content1" >
	<h1>Processed Video! </h1>
  <video src="../DepthEst/out.mp4" width="800" controls autoplay loop style="margin-left: -80px;" type="video/mp4">
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script><script  src="static/assets/js/script_loader.js"></script>
</body>
</html>
