<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Processing Your Video.</title>
  <link rel="stylesheet" href="../static/assets/css/style_loader_2.css">
</head>
<body>
<div class="page-loader">
	<div class="spinner"></div>
	<div class="txt">Please Wait !!!<br>While we are Processing your Video</div>
</div>
<div class="content1" style="margin-top: 550px; margin-bottom: -190px; margin-right: -1000px; margin-left: 1550px;" >
  <a href="{{ url_for('services') }}" style="color: black;"><h2>Go Back to Services! </h2></a>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script><script  src="../static/assets/js/script_loader_2.js"></script>
</body>
</html>
